<!DOCTYPE html>
<html>
<head>
  <title>CGI with ERB</title>
</head>
<body>
  <h1>Hello from ERB!</h1>

  <form>
    <textarea name="get_text"><%= get_text %></textarea><br>
    <input type="submit" value="Submit">
  </form>

  <% if get_text && !get_text.empty? %>
    <p>You entered: <%= get_text %></p>
  <% end %>
</body>
</html>
